
.Offer {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  .offer-content {
    padding-right: 16px;
    width: calc(100% - 16px);
    border-bottom: 1px solid var(--color-hm-gray6);
  }
  .offer-body {
    position: relative;
    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    .meeting-left-side {
      display: flex;
      flex-flow: row wrap;
      .offer-details {
        h4 {
          margin-bottom: 0;
        }
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        margin-left: 16px;
        .offer-location {
          color: var(--color-hm-gray3);
          font-size: 12px;
          font-weight: normal;
        }
      }
    }
    .offer-operation-menu {
      top: 24px;
    }
  }
  .offer-footer {
    padding: 16px 0;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: space-between;
    .btn-holder {
      button {
        text-transform: none;
        border-radius: 4px;
      }
      display: flex;
      justify-content: flex-end;
      .btn-cancel {
        margin-right: 8px;
      }
      .btn-confirm {
        min-width: 117px;
      }
      .btn-finish {
        min-width: 110px;
      }
    }
    .date-time {
      span {
        font-size: 14px;
        font-weight: 400;
      }
      div {
        height: 100%;
        align-items: center;
        display: flex;
      }
      i {
        margin-right: 9px;
      }
      .BOOKED {
        span, i {
          color: var(--color-hm-green-primary) !important;
        }
      }
      .MARKED_AS_FINISHED {
        span, i {
          color: var(--color-hm-yellow-primary) !important;
        }
      }
      .MARKED_AS_STARTED {
        span, i {
          color: var(--color-hm-yellow-primary) !important;
        }
      }
      .INPROGRESS {
        span, i {
          color: var(--color-heymate-primary3) !important;
        }
      }
    }
  }
}
