.UserWallet {
  height: 80%;
  .wallet-body {
    background-color: var(--color-background);
    //border-bottom: 8px solid var(--color-hm-gray6); ankit
    height: auto;
    display: flex;
    padding: 20px 10px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    margin: 3% 15% 1% 15%; //ankit
    border-radius: 10px; //ankit
    .logo-container {
      width: 60px;
      height: 60px;;
      display: flex;
      justify-content: center;
    }
    #total-balance {
      display: flex;
      justify-content: center;
      width: 100%;
      font-weight: normal;
      font-size: 14px;
      color: var(--color-hm-gray3);
    }
    #balance {
      display: flex;
      justify-content: center;
      width: 100%;
      color: #2A4255;
      font-weight: bold;
      font-size: 28px;
    }
    .btn-row {
      // margin-top: 40px;
      padding: 0 16px;
      display: flex;
      width: auto;
      flex-direction: row-reverse;
      justify-content: center;
      .btn-holder{
        width: 100px;
        &#cashout {
          button {
            text-transform: none;
            border: 1px solid var(--color-primary);
            border-radius: 8px;
          }
        }
        &#add-money {
          button {
            text-transform: none;
            border-radius: 8px;
          }
        }
      }
    }
    .spinner-holder {
      padding-top: 0.45rem;
      width: auto;
      display: flex;
      justify-content: center;
    }
  }
  .wallet-transactions {
    background-color: var(--color-background);
    display: flex;
    flex-flow: row wrap;
    overflow-y: scroll;
    padding: 16px;
    height: 58%;
    margin: 2% 15%; //ankit
    border-radius: 10px; //ankit
    #caption{
      margin-bottom: 24px;
      font-size: 14px;
      font-weight: 500;
      color: var(--color-primary);
    }
  }
}
.WalletQrModal {
  .modal-dialog {
    max-width: 480px;
  }
  .modal-header {
    flex-direction: row-reverse;
    .modal-title {
      text-align: center;
      font-size: 16px;
      font-weight: bold;
    }
  }
  .spinner-holder {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50%;
    z-index: 2;
    top: 50%;
    &.aproval-loader {
      position: inherit;
    }
  }
  .qr-container {
    min-height: 280px;
    display: flex;
    justify-content: center;
    opacity: 1;
    transform: scale(1);
    transition: transform 300ms cubic-bezier(0.34, 1.56, 0.64, 1), opacity 300ms;
    &.pre-animate {
      opacity: 0.5;
      transform: scale(0.8);
    }

    canvas {
      padding: .625rem;
      border-radius: var(--border-radius-default);
      background: var(--color-white);
      margin-top: -.625rem;
    }
  }
  .connection-notes {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 16px;
    .no-pad-margin {
      h4 {
        padding: 0;
        margin: 0;
      }
    }
    .wallet-deeplink {
      width: 100%;
      text-align: center;
      height: 45px;
      background-color: var(--color-primary);
      color: var(--color-text);
      border-radius: var(--border-radius-default);
      margin-top: 15px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h4 {
      margin: 1.5rem 0 1rem 0;
      width: 100%;
      padding-left: 3rem;
    }

    ol {
      list-style: none;
      counter-reset: item;
      padding: 0 1.75rem;

      li {
        counter-increment: item;
        text-align: left;
        margin: 0.75rem 0;
        display: flex;
        font-size: 14px;
        font-weight: normal;

        &::before {
          content: counter(item);
          display: flex;
          justify-content: center;
          align-items: center;
          min-width: 1.4rem;
          height: 1.4rem;
          padding: 0;
          margin: 0 0.75rem 0 0;
          background: var(--color-primary);
          border-radius: 50%;
          font-size: smaller;
          color: white;
        }
      }
    }
  }

}

.currency-select {
  width: 150px;
  margin-top: 15px;
}

.BookOfferModal {
  .modal-dialog {
    max-height: 520px;
    width: 480px;
    .modal-header {
      flex-direction: row-reverse;
      .modal-title {
        text-align: center;
      }
    }
    .book-offer-content {
      height: 350px;
      overflow-y: hidden;
      .TabList {
        z-index: 1;
      }
        height: calc(100% - 43px);
        height: -webkit-calc(100% - 43px);
        padding-bottom: 1rem;

        .TimeSlots {
          height: 100%;
          .time-slots-picker {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding-right: 0.4rem;
            #caption {
              font-size: 16px;
              font-weight: 400;
              color: var(--color-text);
            }
            #time-picker {
              cursor: pointer;
              font-size: 16px;
              font-weight: 500;
              color: var(--color-primary);
            }
            .calendar-wrapper {
              display: flex;
              align-items: center;
              justify-content: space-between;
              height: 64px;
              border: 1px solid var(--color-borders-input);
              border-radius: var(--border-radius-messages);
              margin-top: 0.5rem;
              padding-right: 1rem;
              padding-left: 1rem;
              .icon-calendar {
                font-size: 16px;
                font-weight: 500;
                color: var(--color-primary);
              }
            }

          }
          .time-slots-rows {
            height: calc(100% - 56px);
            height: -webkit-calc(100% - 56px);
            overflow-y: scroll;
            margin-top: 32px;
            .time-slot-row {
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 64px;
              border: 1px solid var(--color-borders-input);
              border-radius: var(--border-radius-messages);
              margin-top: 0.5rem;
              padding-right: 1rem;
              &.active {
                border-color: var(--color-primary);
                label {
                  color: var(--color-primary);
                }
              }

              .remaining-of-total {
                font-size: 14px;
                min-width: 54px;
                display: flex;
                justify-content: space-around;
                #remaining {
                  font-weight: bold;
                }
                #total{
                  color: var(--color-gray);
                }
              }

              .Radio {
                margin-bottom: 0;
                line-height: 0;
              }
              label {
                margin-bottom: 0;
              }
            }
            .no-time-slot-founds {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-flow: row wrap;
              align-content: center;
              i {
                font-size: 35px;
                color: var(--color-gray);
              }
              .content-for-no-ts {
                width: 100%;
                display: flex;
                justify-content: center;

                p {
                  width: 50%;
                  color: var(--color-gray);
                  font-size: 14px;
                  font-weight: normal;
                  text-align: center;
                  margin-top: 0.5rem;
                }
              }
            }
          }
        }
      .Calendar {
        height: 300px;
      }
      .payment-radio {
        label {
          margin-bottom: 0;
        }
        p {
          color: #81868A;
          margin-left: 2rem;
          font-weight: 400;
          font-size: 12px;
          line-height: 16px;
          margin-top: 8px;
        }
        .title {
          margin-bottom: 18px;
          display: inline-block;
        }
        .push-devices {
          display: flex;
          justify-content: space-between;
          width: 90%;
          .address-balance {
            text-align: center;
            font-size: 14px;
            width: 72px;
            height: 24px;
            background: #5CB050;
            border-radius: 25px;
            color: white;
          }
        }
        .default-row{
          &--title {
            span {
              font-weight: 400;
              font-size: 14px;
              line-height: 24px;
              letter-spacing: 0.2px;
              color: #292929;
              margin-left: 2rem;
            }
            img {
              cursor: pointer;
              width: 18px;
              height: 18px;
              margin-left: 1rem;
            }
          }
        }
      }
    }
    .btn-group {
      display: flex;
      justify-content: center;
      width: 100%;
      margin-top: 20px;
      .Button {
        width: 128px;
      }
    }
  }

}