.UserWallet {
  height: 80%;
  .wallet-body {
    background-color: var(--color-background);
    //border-bottom: 8px solid var(--color-hm-gray6); ankit
    height: auto;
    display: flex;
    padding: 20px 10px;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
    margin: 3% 15% 1% 15%; //ankit
    border-radius: 10px; //ankit
    .logo-container {
      width: 60px;
      height: 60px;;
      display: flex;
      justify-content: center;
    }
    #total-balance {
      display: flex;
      justify-content: center;
      width: 100%;
      font-weight: normal;
      font-size: 14px;
      color: var(--color-hm-gray3);
    }
    #balance {
      display: flex;
      justify-content: center;
      width: 100%;
      color: #2A4255;
      font-weight: bold;
      font-size: 28px;
    }
    .btn-row {
      // margin-top: 40px;
      padding: 0 16px;
      display: flex;
      width: auto;
      flex-direction: row-reverse;
      justify-content: center;
      .btn-holder{
        width: 100px;
        &#cashout {
          button {
            text-transform: none;
            border: 1px solid var(--color-primary);
            border-radius: 8px;
          }
        }
        &#add-money {
          button {
            text-transform: none;
            border-radius: 8px;
          }
        }
      }
    }
    .spinner-holder {
      padding-top: 0.45rem;
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .wallet-transactions {
    background-color: var(--color-background);
    display: flex;
    flex-flow: row wrap;
    overflow-y: scroll;
    padding: 16px;
    height: 58%;
    margin: 2% 15%; //ankit
    border-radius: 10px; //ankit
    #caption{
      margin-bottom: 24px;
      font-size: 14px;
      font-weight: 500;
      color: var(--color-primary);
    }
  }
}
.WalletQrModal {
  .spinner-holder {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 50%;
    z-index: 2;
    top: 50%;
  }
  .qr-container {
    min-height: 322px;
    display: flex;
    justify-content: center;
    opacity: 1;
    transform: scale(1);
    transition: transform 300ms cubic-bezier(0.34, 1.56, 0.64, 1), opacity 300ms;
    &.pre-animate {
      opacity: 0.5;
      transform: scale(0.8);
    }

    canvas {
      padding: .625rem;
      border-radius: var(--border-radius-default);
      background: var(--color-white);
      margin-top: -.625rem;
    }
  }
}
.currency-select {
  width: 150px;
  margin-top: 15px;
}
