.OnlineMeeting {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end;
  .offer-content {
    padding-right: 16px;
    width: calc(100% - 16px);
    border-bottom: 1px solid var(--color-hm-gray6);
  }
  .offer-body {
    justify-content: space-between;
    display: flex;
    width: 100%;
    .meeting-left-side {
      display: flex;
      flex-flow: row wrap;
      .offer-details {
        h4 {
          margin-bottom: 0;
        }
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        margin-left: 16px;
        .offer-location {
          color: var(--color-hm-gray3);
          font-size: 12px;
          font-weight: normal;
        }
      }
    }

  }
  .offer-footer {
    padding: 16px 0;
    display: flex;
    width: 100%;
    position: relative;
    justify-content: flex-end;
    .btn-holder {
      .status-bar {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .status-info {
          display: flex;
          align-items: center;
          span, i {
            font-size: 12px;
          }
          i {
            margin-right: 0.273rem;
          }
          &.upcoming {
            i, span {
              color: var(--color-hm-green-primary);
            }
          }
          &.waiting_start, &.confirm_start {
            i, span {
              color: var(--color-hm-yellow-primary);
            }
          }
          &.in_progress {
            i, span {
              color: var(--color-primary);
            }
          }
          &.confirmation {
            i, span {
              color: var(--color-hm-yellow-primary);
            }
          }
        }
      }
      button {
        border-radius: 4px;
      }
      min-width: 100%;
      display: flex;
      justify-content: flex-end;
      .btn-cancel {
        margin-right: 8px;
      }
      .btn-confirm {
        min-width: 117px;
      }
      .btn-finish {
        min-width: 110px;
      }
    }
  }
}
