.BookOfferModal {
  .modal-dialog {
    max-height: 520px;
    width: 480px;
    .modal-header {
      flex-direction: row-reverse;
      .modal-title {
        text-align: center;
      }
    }
    .book-offer-content {
      max-height: 623px;
      min-height: 430px;
      .TabList {
        z-index: 1;
      }
      .Transition {
        .TimeSlots {
          .time-slots-picker {
            display: flex;
            justify-content: space-between;
            padding: 1rem;
            #caption {
              font-size: 16px;
              font-weight: 400;
              color: var(--color-text);
            }
            #time-picker {
              cursor: pointer;
              font-size: 16px;
              font-weight: 500;
              color: var(--color-primary);
            }
          }
          .time-slots-rows {
            height: 300px;
            overflow-y: scroll;
            .time-slot-row {
              display: flex;
              justify-content: space-between;
              align-items: center;
              height: 64px;
              border: 1px solid var(--color-borders-input);
              border-radius: var(--border-radius-messages);
              margin-top: 0.5rem;
              padding-right: 1rem;
              &.active {
                border-color: var(--color-primary);
                label {
                  color: var(--color-primary);
                }
              }

              .remaining-of-total {
                font-size: 14px;
                min-width: 54px;
                display: flex;
                justify-content: space-around;
                #remaining {
                  font-weight: bold;
                }
                #total{
                  color: var(--color-gray);
                }
              }

              .Radio {
                margin-bottom: 0;
                line-height: 0;
              }
              label {
                margin-bottom: 0;
              }
            }
            .no-time-slot-founds {
              width: 100%;
              height: 100%;
              display: flex;
              align-items: center;
              justify-content: center;
              flex-flow: row wrap;
              align-content: center;
              i {
                font-size: 35px;
                color: var(--color-gray);
              }
              .content-for-no-ts {
                width: 100%;
                display: flex;
                justify-content: center;

                p {
                  width: 50%;
                  color: var(--color-gray);
                  font-size: 14px;
                  font-weight: normal;
                  text-align: center;
                  margin-top: 0.5rem;
                }
              }
            }
          }
        }
        //min-height: 430px;
        padding: 1rem 0;

      }
      .Calendar {
        height: 300px;
      }
    }
    .btn-group {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      .Button {
        width: 128px;
      }
    }
  }

}
